In [12]:
import pandas as pd
import math

In [18]:
dataMusic = pd.read_csv("sprint2DataBase.csv", sep=";")
dataMusic = dataMusic.set_index("Nombre")

In [19]:
dataMusic.head()

,gusto por el jazz,gusto por el rock,gusto por el regae,gusto por el metal
Nombre,,,,
Raquel,"0,4","0,6","0,6","0,9"
Laura,"0,2","0,9","0,6","0,6"
Antonia,"0,5","0,4","0,9","0,2"
Catalina,"0,8","0,7","0,7","0,4"
Blanca,"0,7","0,7","0,7","0,8"

In [20]:
dataMusic.tail()

,gusto por el jazz,gusto por el rock,gusto por el regae,gusto por el metal
Nombre,,,,
Blanca,"0,7","0,7","0,7","0,8"
Oscar,"0,2","0,3","0,3","0,1"
Lina,"0,7","0,8","0,5","0,9"
Daniela,"0,9","0,4","0,8","0,7"
Javier,"0,8","0,9","0,4","0,8"

In [24]:
def point_product(vector1, vector2):
    return sum(vector1 * vector2)

def vector_magnitud(vector):
    return math.sqrt((vector **2).sum())

def cosine_similarity(vector1, vector2):
    return point_product(vector1,vector2)/(vector_magnitud(vector1)*vector_magnitud(vector2))

In [30]:
row1 = dataMusic.loc["Blanca"].str.replace(',', '.').astype(float)

In [31]:
row2 = dataMusic.loc["Oscar"].str.replace(',', '.').astype(float)

In [32]:
cosineSimilarity = cosine_similarity(row1,row2)

In [33]:
cosineSimilarity

0.9187023522073784